/* Section-2 */
.img-2-1 {
  max-width: 100px;
  margin-right: 1rem;
}

.section-2 {
  padding: 20px 0;
}

.black-und-red > a {
  color: var(--black);
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

.section-2 > h2 > a {
  color: var(--orange);
}

.section-2 > h2 {
  padding: 30px 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.black-und-red > p {
  color: var(--grey-white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.art-2-1 {
  display: flex;
  margin-bottom: 1rem;
}

.section-2 > header {
  padding: 20px 0;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .section-2 {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }

  .section-2 > h2 {
    grid-area: 1/1/2/4;
  }

  .img-2-1 {
    min-width: 100%;
  }

  .art-2-1 {
    flex-direction: column;
    flex: 0 0 30%;
  }

  .black-und-red {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .section-2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .section-2 > h2 {
    grid-area: 1/1/2/5;
  }
}
