/* Project Meta */

/* reset  */

html, body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.tablet,
.none {
  display: none;
}

/* general */

:root {
  --orange: #f42;
  --light-grey: rgb(231, 221, 221);
  --yellow: #fd3;
  --black: #131313;
  --light-white: hsla(0,0%,100%,.6);
  --white: #fff;
  --grey-white: #AAA;
}

.space-between {
  height: 150px;
}

/* typography */

/* grid */

/* header */

.header {
  position: relative;
}

.mobile {
  height: 40px;
  display: flex;
  justify-content: flex-end;
}


.brand {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  max-height: 40px;
  padding: 10px;
  background-color: #000;
}

.humberger {
  color: var(--orange);
  padding: 0px 10px;
  padding-top: 10px;
  font-size: 23px;
  border-left: 1px solid var(--light-grey);

}

.search {
  color: var(--light-grey);
  padding: 0px 10px;
  padding-top: 10px;
  font-size: 17px;
  border-left: 1px solid var(--light-grey);
}

.yellow-sect {
  background-color: var(--yellow);
  text-align: center;
  padding: 20px 5px;
}


/* Nav 1 */


/* 3 */

/* main */

main {
  width: 97%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

[class*="art-1"] {
  position: relative;
  margin-bottom: 10px;
}

.absolute {
  position: absolute;
  bottom: 0;
  padding: 20px;
  font-family: Avalon, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30.8px;
  color: rgb(255, 255, 255);
}

[class*="img-1"] {
  height: 200px;
}

.list-1 {
  display: flex;
}

.list-1 > li {
  color: rgb(223, 213, 213);
  margin-right: 10px;
}

/* img-2 */

/* section-3 */

.section-3 {
  margin-bottom: 50px;
}

.section-3 > header {
  margin-bottom: 20px;
}

[class*="art-3-"] {
  position: relative;
  display: flex;
  flex-direction: column;
}

.art-3-1 {
  background-color: rgba(255, 68, 34, 0.03);
  margin-bottom: 10px;
}

.art-3-1 > li {
  padding: 10px 0;
}

[class*="art-3-1"] > h4,
h5 {
  padding-left: 100px;
}

.img-3 {
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.art-3-1-1 {
  background-color: #f42;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.art-3-1-2 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ff442214;
}

.art-3-1-2 > h5 {
  font-size: 11px;
  font-family: sans-serif;
  font-weight: 100;
  color: #555;
}

.art-3-1-3 {
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  display: inline;
}

.art-3-1-3 > i.fa {
  color: #000;
  margin-right: 10px;
}

.art-3-1-4 {
  border-top: 1px solid rgb(250, 193, 193);
}

.art-3-1-4 > span {
  color: #aaa;
  font-size: 12px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.art-3-4 {
  color: #f42;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}


/* Page template A */

/* Page template B */

/* Media Queries */

@media only screen and (min-width: 600px) {
  /* For desktop */

  .mobile {
    display: none;
  }
  .tablet {
    display: block;
  }

  .desktop {
    display: none;
  }
  
  .nav-1 {
    display: flex;
    padding: 5px;
    background-color: var(--black);
    padding-left: 10px;
  }
  
  .nav-1 > li > a{
    margin-right: 10px;
    color: var(--light-white);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .white-color > .white {
    color: var(--white);
  }

  .left-auto {
    margin-left: auto;
  }

  .nav-2 {
    display: flex;
  }

  .nav-2 > li {
    padding: 12px 10px 10px 10px;
  }

  .nav-2 > li > a {
    color: var(--grey-white);
    font-size: 14px;
    font-family: sans-serif;
  }

  .yellow-sect {
    text-align: left;
    padding: 5px 10px;
  }
  

  .img-1-1 {
    height: 520px;
  }

  .img-1-2 {
    height: 253px;
  }

  .section-1 {
    display: flex;
    height: 300px;
    flex-flow: row wrap;
    margin-bottom: 150px;
  }

  .art-1-1 {
    flex: 65%;
    margin-right: 10px;
  }

  .art-1-2 {
    flex: 30%;
  }

  .section-2 {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }

  .section-2 > header {
    grid-area: 1/1/2/4;
  }

  .img-2-1 {
    min-width: 100%;
  }

  .art-2-1 {
    flex-direction: column;
    flex: 0 0 30%;
  }

  /* Section-3 */

  .sec-3-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  .art-3-1 {
    flex: 0 0 32%;
  }

  .space {
    padding: 0 20px;
  }

  .art-3-1-3 {
    display: block;
  }

}

/* footer */

@media only screen and (min-width: 768px) {
  .desktop {
    display: block;
  }
}


@media only screen and (min-width: 1200px) {
  .section-2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .section-2 > header {
    grid-area: 1/1/2/5;
  }

  /* Section-3 */

  .none {
    display: block;
  }

  .art-3-1 {
    flex: 0 0 24%;
  }

  .section-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
