/* Project Meta */

/* reset  */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: 100%;
}

body,
ul,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* general */

.space-between {
  height: 150px;
}

/* typography */

/* grid */

/* header */

/* header 1 */

.header {
  position: relative;
}

.brand {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 15px;
  margin: 0;
  width: 100px;
  height: 50px;
  background-color: #000;
}

/* Mobile */

.mobile {
  display: flex;
  justify-content: flex-end;
}

.mobile > i {
  /* margin-right: 20px; */
  padding: 15px;
  border-left: 1px solid #eee;
  color: rgb(155, 142, 142);
  font-size: 20px;
}

.mobile i:nth-child(2) {
  color: red;
}

/* Nav 1 */

.desktop {
  display: none;
}

.ul1 {
  display: none;
  display: flex;
  padding: 10px 0 10px 20px;
  background-color: #000;
}

.ul2 {
  display: none;
  display: flex;
  padding: 10px 0 10px 20px;
}

.ul2 > li {
  margin-right: 20px;
}

.ul1 > li {
  margin-right: 20px;
}

.right {
  margin-left: auto;
}

footer ul li a:hover {
  color: white;
}

.li1 a:hover,
.li2 a:hover {
  color: white;
}

/* Nav 2 */

.li3 a:hover {
  color: black;
}

.icon {
  margin-left: auto;
}

/* 3 */

.sec3 {
  color: black;
  background-color: #fd3;
  padding: 10px 0;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

/* main */

main {
  width: 97%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* img-1 */

[class*="art-1"] {
  position: relative;
  max-height: 300px;
  margin-bottom: 10px;
}

.absolute {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

[class*="img-1"] {
  max-height: 200px;
}

/* img-2 */

.img-2-1 {
  max-width: 100px;
  margin-right: 1rem;
}

.section-2 {
  padding: 20px 0;
}

.art-2-1 {
  display: flex;
  margin-bottom: 1rem;
}

.section-2 > header {
  padding: 20px 0;
  width: 100%;
}

/* section-3 */

.section-3 {
  margin-bottom: 50px;
}

.section-3 > header {
  margin-bottom: 20px;
}

[class*="art-3-"] {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  background-color: rgb(236, 227, 227);
  margin-bottom: 10px;
}

.art-3-1 > li {
  padding: 10px 0;
}

[class*="art-3-1"] > h4 {
  padding-left: 100px;
}

.img-3 {
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  top: 20px;
}

.none {
  display: none;
}

/* section-4 */

.art-4 {
  margin-bottom: 10px;
}

.art-4 > li {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
  margin-bottom: 10px;
}

.relative {
  position: relative;
}

.flex-4 {
  display: flex;
  justify-content: space-between;
}

.img-4 {
  max-width: 100px;
}

.non-border {
  border-bottom: 2px solid red;
}

/* Page template A */

/* Page template B */

/* Media Queries */

@media only screen and (min-width: 768px) {
  /* For desktop */
  .brand {
    padding: 10px 10px;
    height: 77px;
  }

  .ul2,
  .ul1 {
    padding-left: 110px;
  }

  .sec3 {
    text-align: left;
    padding: 1px 0 0 110px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .img-1-1 {
    min-height: 450px;
  }

  .img-1-2 {
    min-height: 223px;
  }

  .section-1 {
    display: flex;
    height: 300px;
    flex-flow: row wrap;
    margin-bottom: 150px;
  }

  .art-1-1 {
    flex: 65%;
    margin-right: 10px;
  }

  .art-1-2 {
    flex: 30%;
  }

  .section-2 {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }

  .section-2 > header {
    grid-area: 1/1/2/4;
  }

  .img-2-1 {
    min-width: 100%;
  }

  footer ul li {
    float: left;
  }

  .art-2-1 {
    flex-direction: column;
    flex: 0 0 30%;
  }

  /* Section-3 */

  .sec-3-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  .art-3-1 {
    flex: 0 0 32%;
  }

  /* section-4 */

  .section-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
}

/* footer */

footer {
  background-color: black;
  color: grey;
  text-align: center;
  height: 250px;
  padding: 30px 0;
}

.nav-3 {
  display: flex;
  justify-content: center;
}

.nav-3 > li {
  padding: 5px;
  margin: 7px;
  background-color: #eee;
  border-radius: 40px;
}

.nav-4 {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1050px) {
  .section-2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .section-2 > header {
    grid-area: 1/1/2/5;
  }

  /* Section-3 */

  .none {
    display: block;
  }

  .art-3-1 {
    flex: 0 0 24%;
  }

  .section-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
